<<<<<<< HEAD
$theme-color : #ff0000;
// background:lighten($theme-color, 10%);

:host {
  margin: auto;
  height: 100%;
  overflow: auto;
}

.orgTheme {
  background: var(--template-theme-color);
  border-radius: 30px;
  /* height: 100%; */
  width: 600px;
  overflow: hidden;

  header {
    position: relative;
    background-color: var(--template-theme-color);

    img {
      width: 100%;
    }
  }

  .bottomShadow {
    position: relative;
    background-color: var(--template-theme-color);

    &::before {
      content: '';
      position: absolute;
      top: auto;
      bottom: 0;
      left: 0;
      right: 0;
      height: 90%;
      background: -moz-linear-gradient(top, rgba(125, 185, 232, 0) 0%, var(--template-theme-color) 77%, var(--template-theme-color) 100%);
      background: -webkit-linear-gradient(top, rgba(125, 185, 232, 0) 0%, var(--template-theme-color) 77%, var(--template-theme-color) 100%);
      background: linear-gradient(to bottom, rgba(125, 185, 232, 0) 0%, var(--template-theme-color) 77%, var(--template-theme-color) 100%);
      // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--template-theme-color)', endColorstr='$theme-color',GradientType=0 );
    }
  }

  .topShadow {
    position: relative;
    background-color: var(--template-theme-color);

    &::before {
      content: '';
      position: absolute;
      top: auto;
      bottom: 0;
      left: 0;
      right: 0;
      height: 90%;
      background: -moz-linear-gradient(top, $theme-color 0%, var(--template-theme-color) 15%, rgba(125, 185, 232, 0) 100%);
      background: -webkit-linear-gradient(top, $theme-color 0%, var(--template-theme-color) 15%, rgba(125, 185, 232, 0) 100%);
      background: linear-gradient(to bottom, $theme-color 0%, var(--template-theme-color) 15%, rgba(125, 185, 232, 0) 100%);
      // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 );

    }
  }
}
=======
@import "../../../scss/variables.scss";
@import "../../../scss/mixins.scss";
// @import '../../scss/mixins.scss';
// @import '../../scss/variables.scss';
$theme-color: #333333;
:host{
margin: auto;
height: 100%;
overflow: auto;
}
.orgTheme{
    background:$theme-color;
    border-radius: 30px;
    /* height: 100%; */
    width: 100%;
    overflow: hidden;
    header{
        position: relative;
        background-color: $theme-color;      
        img{
            width:100%;
        }
    }
    .bottomShadow{
        position: relative;
        background-color: $theme-color;
        &::before{
            content: '';
            position: absolute;
            top: auto;
            bottom: 0;
            left: 0;          
            right: 0;
            height: 90%;          
            background: -moz-linear-gradient(top,  rgba(125,185,232,0) 0%, lighten($theme-color, 5%) 77%, $theme-color 100%);
            background: -webkit-linear-gradient(top,  rgba(125,185,232,0) 0%, lighten($theme-color, 5%) 77%, $theme-color 100%);
            background: linear-gradient(to bottom,  rgba(125,185,232,0) 0%, lighten($theme-color, 5%) 77%, $theme-color 100%);
            // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='lighten($theme-color, 5%)', endColorstr='$theme-color',GradientType=0 );
        }   
    } 
    .topShadow{
        position: relative;
        background-color: $theme-color;
        &::before{
            content: '';
            position: absolute;
            top: auto;
            bottom: 0;
            left: 0;          
            right: 0;
            height: 90%;          
            background: -moz-linear-gradient(top,  $theme-color 0%, lighten($theme-color, 5%) 15%, rgba(125,185,232,0) 100%);
            background: -webkit-linear-gradient(top,  $theme-color 0%, lighten($theme-color, 5%) 15%,rgba(125,185,232,0) 100%);
            background: linear-gradient(to bottom,  $theme-color 0%, lighten($theme-color, 5%) 15%,rgba(125,185,232,0) 100%);
            // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 );

        }   
    } 
    .titleSection{
        display: inline-block;
        h1{
            font-family: var(--h1-font-family);
            color:var(--h1-font-color);
            font-weight: var(--h1-font-weight) !important;
            font-size: var(--h1-font-size) !important;
        }
    }
    .logoSection{
        .customLogo{
            min-width: 300px;
            max-width: 100%;
        }
        .autoLogo{
            .name{
                position: relative;
                color: #ffffff;
                display: inline-block;
                font-size:70px;
                // font-family: $font23;
                // font-family: 'Akronim', cursive;
                font-family: 'Great Vibes', cursive;
                transform: rotate(-5deg);
                .heart1{
                    position: absolute;
                    right: -30px;
                    bottom: calc(100% - 74px);
                    color: #ff2121;
                    font-size: 120px;
                    z-index: -1;
                }
                .heart2{
                    position: absolute;
                    right: 57px;
                    top: calc(100% + 20px);
                    color: #ff2121;
                    font-size: 28px;
                }
                .heart3{
                    position: absolute;
                    left: -35px;
                    top: calc(100% - 48px);
                    color: #ff2121;
                    font-size: 24px;
                }
            }
        }
    }
} 
>>>>>>> 6775cf7b47061db36fbd179a4b6e28863efb7dad
