<div class="orgTheme" color-picker-model="var" ng-style="{background:var}">
  <header class="bottomShadow">
    <img src="assets/images/themes/images/header.png">
  </header>
  <section class="titleSection px-5 my-2 text-center">
    <h1 class="">Happy Wedding Anniversary</h1>
  </section>
  <section class="logoSection px-5 my-2 text-center">
    <!-- <img class="customLogo" src="assets/images/themes/images/couple-logo.png"> -->
    <div class="autoLogo mt-5">
    <p class="name">Youandme <i class="heart1 far fa-heart"></i> <i class="heart2 fas fa-heart"></i> <i class="heart3 fas fa-heart"></i> </p>
    </div>
  </section>
  <section class="sliderSection p-5">
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)"
      (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
      <div ngxSlickItem *ngFor="let slide of slides" class="slide">
        <img src="{{ slide.img }}" alt="" width="100%">
      </div>
    </ngx-slick-carousel>
  </section>
  <footer class="topShadow">
    <img src="assets/images/themes/images/footer.png" class="w-100">
  </footer>
</div>
