<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="close">&times;</button>
      </div>

      <div class="modal-body">
        <div *ngFor="let file of carouselFiles" class="d-inline" (click)="previewImage(file)">
          <img *ngIf="file" [src]="file.url" width="100px" height="100px" />
        </div>
        <div *ngIf="!currentCroppingImage">
          <img [src]="currentSelectedImage" width="200px" height="200px" />
          <button (click)="cropImage()">Crop</button>
        </div>
        <div *ngIf="currentCroppingImage">
          <image-cropper [imageFile]="currentCroppingImage" [maintainAspectRatio]="true" [aspectRatio]="4 / 3"
            format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
            (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>
          <button type="button" class="btn btn-primary" (click)="confirmImageCrop()">
            Crop
          </button>
          <button type="button" class="btn btn-danger" (click)="cancelImageCrop()">
            Cancel
          </button>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="saveCarouselImages()">Submit</button>
        <button type="button" class="btn btn-danger" (click)="closePopup()">Close</button>
        <button type="button" id="close-modal" data-dismiss="modal" style="display: none;">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
