/* You can add global styles to this file, and also import other style files */
$theme-color: #e31582;
$white-color:#ffffff;
$black-color:#000000;
$second-color:#d3a53b;


$baloo-chettan: 'Baloo Chettan';
$cinzel-decorative: 'Cinzel Decorative';
$Pacifico:'Pacifico';
$Chilanka:'Chilanka';
$dancing:'Dancing';
$rreat-vibes:'Great Vibes';
$russo-one:'Russo One';