<div class="d-flex themeEditorContainer">
    <div class="flex-1 themeEditOptions py-3 px-5">
      <h3><button class="backBtn"><i class="fas fa-chevron-circle-left"></i></button> Edit Theme</h3>
      <div class="py-3">
          <label for="basic-url">Your vanity URL</label>
          <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">https://webgifts.com/</span>
          </div>
          <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
          </div>
      </div>
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
               Header Section
              </button>
            </h5>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <label for="basic-url">Add Header Image</label>
             <div class="input-group">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile02">
                  <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose file</label>
                </div>
                <div class="input-group-append">
                  <span class="input-group-text" id="inputGroupFileAddon02">Upload</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
               Title Section
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
             <div class="form-group">
                <label for="exampleInputEmail1">Edit Title</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">Like Happy "Wedding, Birthday, Marriage, etc" Day</small>
             </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Logo Section
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              <label for="basic-url">Add Your Logo</label>
              <div class="input-group">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile02">
                  <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose file</label>
                </div>
                <div class="input-group-append">
                  <span class="input-group-text" id="inputGroupFileAddon02">Upload</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFour">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
               Slider Section
              </button>
            </h5>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
            <div class="card-body">
                 <label for="basic-url">Add Slider Images</label>
                 <div class="input-group mb-2">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="inputGroupFile02">
                      <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Add Image</label>
                    </div>         
                  </div>
                  <div class="input-group mb-2">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="inputGroupFile02">
                      <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Add Image</label>
                    </div>         
                  </div>
                  <div class="input-group mb-2">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="inputGroupFile02">
                      <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Add Image</label>
                    </div>         
                  </div>
                  <button type="button" class="btn btn-primary">Add Slider Images</button>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn mt-4 btn-primary">Publish</button>
    </div>
    <div class="selectedTheme">
      <div class="orgTheme">
        <header>  
          <img src="assets/images/themes/images/header.png" class="w-100">
        </header>
        <h1 class="titleSection text-center">Happy Wedding Anniversary</h1>
        <section class="logoSection text-center"> 
          <img src="assets/images/themes/images/couple-logo.png">
        </section>
        <section class="sliderSection p-5">
          <!-- <div class="slideShow slider">
            <div>
              <img src="assets/images/themes/images/slide1.png">
            </div>
            <div>
              <img src="assets/images/themes/images/slide2.png">
            </div>  
          </div> -->
          <ngx-slick-carousel class="carousel" 
          #slickModal="slick-carousel" 
          [config]="slideConfig" 
          (init)="slickInit($event)"
          (breakpoint)="breakpoint($event)"
          (afterChange)="afterChange($event)"
          (beforeChange)="beforeChange($event)">
<div ngxSlickItem *ngFor="let slide of slides" class="slide">
<img src="{{ slide.img }}" alt="" width="100%">
</div>
</ngx-slick-carousel>
        </section>
        <footer>
          <img src="assets/images/themes/images/footer.png" class="w-100">
        </footer>
      </div>
    </div>
  </div>