@import '../../scss/mixins.scss';

@include themeEditor;
:host{
    width: 100%;    
    }
    h3{
        @include align-all-center;
        .backBtn{
            background-color: transparent;
            border: 0;
           
        }
    }
 
    .themeEditorContainer{
        height: 100%;
        .selectedTheme{
            padding: 30px;
            width: 660px;
            background: #ffffff;
            height: 100%;
            /* margin-top: 30px; */
            /* border-radius: 0; */
            /* margin-right: 0; */
            /* overflow: auto; */
            // .orgTheme{
            //     background: #333;
            //     border-radius: 30px;
            //     height: 100%;
            //     width: 600px;
            //     overflow: auto;
            //     } 
        }
    }
    


    .titleSection{
        color: #fff;
    }
    .logoSection img {
        width: 300px;
    }