@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';
// @import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Chilanka&family=Dancing+Script:wght@400;500;600;700&family=Great+Vibes&family=Russo+One&display=swap');
@include themeEditor;
:host{
    width: 100%;    
//     h2,h3,h4,h5{
//   font-weight: 600;
//         }
        .accordion{
            background: #ff4aaa;
            border-radius: 30px;
            overflow: hidden;
            box-shadow: 4px 0px 14px rgba(0,0,0,0.2);
            padding: 10px;
            .card{
                border-top: 1px solid #ff60b4 !important;
                border: 0;
                .card-header {
                    padding: 2px 0;
                    background: $theme-color;
                    button{
                        color: #ffffff;
                        /* font-weight: bold; */
                        font-size: 0.9rem;
                    }
                    // .switchCheck {
                    //     margin-top: 0.65rem;
                    //     .slideBtn:before {
                    //         background-color: #d4d2d3;
                    //     }
                    //     input:checked + .slideBtn:before {
                    //         background-color: #fed363;
                    //     }
                    //     input:checked + .slideBtn {
                    //         background-color: #d3a53b;
                    //     }
                    // }
                }
                &:first-child{
                    border-top: 0 !important;
                    border-radius: 25px 25px 0 0;
                    overflow: hidden;
                }                
                &:last-child{
                    border-radius: 0 0 25px 25px;
                    overflow: hidden;
                }
                .card-body {
                    background: #ffebbf;
                    & > label{
                        font-size: 0.9rem;
                    }
                    .form-group{
                        .form-control {
                            font-size: 0.9rem;
                        }                      
                        label{
                            font-size: 0.9rem;
                            color: #000000;
                            box-shadow: none;
                        }
                    }
                }
                textarea{
                    box-shadow: none !important;
                    border-radius: 10px !important;
                }
            }
           .form-group{
                .form-control, select, input {
                    color: #495057;
                    background-color: #fff;
                    border: 1px solid #ffebbf;
                    border-radius: 1.5rem 1.5rem;
                    outline: none;
                    box-shadow: none;
                    font-size: 0.9rem;                   
                }
           }
         
            .input-group {
                .custom-file {
                    height: 36px;
                    .custom-file-label {
                        font-size: 0.9rem;  
                        border-radius: 1.5rem ;  
                        border-color: #ffebbf;              
                    }
                    .custom-file-label::after {
                        color: #ffffff;
                        background-color: #cca039;
                        border-radius: 0 1.5rem 1.5rem 0;
                     
                    }
                }
                .input-group-text {
                    font-size: 0.9rem;
                    height: 36px;
                    border-radius: 0 1.5rem 1.5rem 0;
                    color: #ffffff;
                    background-color: #cca039;
                    border-color: #ffebbf;
                }
              
            }
        }    
    }
    .themeEditOptions{
        label{
            font-size: 0.9rem;
        }
        position: relative;
        .editOptionsBody {
            .availableHeaderBgs {
                justify-content: center;
                flex-wrap: wrap;
                .pattern {
                    width: 170px;
                    border: 5px solid #fff;
                    background: #ffffff;
                    margin: 2px;
                    border-radius: 3px;
                    cursor: pointer;
                    &.selected{
                        border: 5px solid #66bb6a;
                        box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
                    }
                }
               
            }
        }
        
        .previewBtn{
            position: absolute;
            right: -8px;
            top: 0;
            background-color: #ffffff;
            transform: skewX(20deg);
            border: 0;
            padding: 8px 10px;
            border-radius: 0 0 0 10px;
            transform: skewX(20deg) !important;
            font-size: 12px;
            span{
                transform: skewX(-20deg) !important;
                display: inline-block;
                font-size: 12px !important;
                font-weight: bold;
                i{
                    font-size: 17px !important;
                    vertical-align: middle;
                    margin-right: 5px;
                }
            }
            &:hover{
                background: rgb(255,255,255);
                background: -moz-linear-gradient(274deg, rgba(255,255,255,1) 12%, rgba(211,165,59,1) 100%);
                background: -webkit-linear-gradient(274deg, rgba(255,255,255,1) 12%, rgba(211,165,59,1) 100%);
                background: linear-gradient(274deg, rgba(255,255,255,1) 12%, rgba(211,165,59,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#d3a53b",GradientType=1);
            }
        }
    }
    h2.heading{
        // @include align-all-center;
        color: #ffffff;
        .backBtn{
            background-color: transparent;
            border: 0;
            i{
                vertical-align: middle;
                font-size: 1.5rem;
                vertical-align: middle;
                color: rgba(255, 255, 255, 0.5);
            }
           
        }
    }
 
    .themeEditorContainer{
        height: 100%;
        .selectedTheme{
            padding: 30px;
            width: 660px;
            background: #ffffff;
            height: 100%;
            overflow: auto;
            /* margin-top: 30px; */
            /* border-radius: 0; */
            /* margin-right: 0; */
            /* overflow: auto; */
            // .orgTheme{
            //     background: #333;
            //     border-radius: 30px;
            //     height: 100%;
            //     width: 600px;
            //     overflow: auto;
            //     } 
        }
        .urlFormGroup{
            label{
                font-size: 0.85rem;
                font-weight: bold;
                color: #ffbbdf;
            }
            .input-group-text{
                background: rgba(255,255,255,0.3);
                font-size: 0.8rem;
                border: 0;
                color:#ffffff;
                border-radius: 50px 0 0 50px ;
            }
            .form-control{
                border: 0;
                color:#ffffff;
                background: rgba(255,255,255,0.15);
                border-radius: 0 50px 50px 0;
            }
        }
        .imgDroppableSec{
            width: 100%;
            & > div {
                border-radius: 5px;
                overflow: hidden;
                margin: 4px;
                border: 1px solid #fff;
                box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
            }
            .dropzone{
                width: 100%;
                height: 52px;
                display: flex;
                align-items: center;
                justify-content: center;               
                border-radius: 10px;
                border: 1px dashed #a9a4a4;
                cursor: pointer;
                box-shadow:none;
                .text-wrapper{
                    font-size: 0.75rem;
                    font-weight: bold;
                }
                &:hover{
                    background-color: #ffffff;
                }
            }
        }
    }
    


    .titleSection{
        color: #fff;
    }
    .logoSection img {
        width: 300px;
    }
  