<!-- <div class="themesContainer  ml-auto pl-5 pr-3">
  <div class="overflow-auto d-flex h-100">
    <h3>Anniversaries</h3>
    <div class="flex-1 leftSec pl-0 pr-4" *ngFor="let theme of [1,2,3,4]" (click)="goToEventsPage()">
      <div class="theme mb-3">
        <img src="../../assets/images/themes/theme2.png" class="img-fluid">
      </div>
    </div>
  </div>
</div> -->

<div class="themesContainer  ml-auto">
  <div class="overflow-auto d-flex h-100">
<div class="flex-1 leftSec pl-0 pr-4"> 
  <h3>Anniversaries</h3>
  <div class="theme mb-3">
    <img src="../../assets/images/themes/theme2.png" class="img-fluid">
    <div class="btnSec">
      <button class="mr-1 useThemeBtn" (click)="goToEventsPage()">Use Theme</button><button class="ml-1 previewBtn" >Preview</button>
    </div>
  </div>
</div>
<div class="flex-1 rightSec pl-0 pr-3"> 
  <div class="theme mb-3">
    <img src="../../assets/images/themes/theme1.png" class="img-fluid">
    <div class="btnSec">
      <button class="mr-1 useThemeBtn" (click)="goToEventsPage()" >Use Theme</button><button class="ml-1 previewBtn">Preview</button>
    </div>
  </div>
</div>
</div>
</div>
