@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

:host{
  padding: 2rem;
  padding-left: 1rem;
}
.themesContainer {
  padding: 2rem;
  /* margin-right: 2rem; */
  height: 100%;
  /* margin-top: 2rem; */
  margin-bottom: auto;
  border-radius: 20px;
  max-width: 760px !important;
  width: 760px ;
  background: #ffffff;

  .leftSec {
    h3 {
      color: #d3a53b;
      text-shadow: 2px 0px 0px rgb(255, 255, 255);
    }
    
  }

  // .theme>img {
  //   border-radius: 15px !important;
  // }
  .theme{
    & > img {
      border-radius: 15px !important;
    }
    margin: auto;
    text-align: center;
    .btnSec {
      text-align: center;
      background: #d5d9da;
      border-radius: 0 0 15px 15px;
      padding: 15px 0;
      width: calc(100% - 30px);
      margin: auto;
      button{
        border: 0;
        padding: 5px;
        font-size: 0.85rem;
        width: 130px;
        color: #fff;
        box-shadow: 2px 2px 6px rgba(0,0,0,0.2) !important;  
       
      }
      .useThemeBtn{
        background: #f795c9;
        background: -moz-linear-gradient(-45deg,  #f795c9 1%, #fc4ba6 100%);
        background: -webkit-linear-gradient(-45deg,  #f795c9 1%,#fc4ba6 100%);
        background: linear-gradient(135deg,  #f795c9 1%,#fc4ba6 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f795c9', endColorstr='#fc4ba6',GradientType=1 );
        border-radius: 20px 5px 5px 20px;
        &:hover{
          background: #f795c9;
          background: -moz-linear-gradient(-45deg,  #f795c9 1%, #de9a00 100%);
          background: -webkit-linear-gradient(-45deg,  #f795c9 1%,#de9a00 100%);
          background: linear-gradient(135deg,  #f795c9 1%,#de9a00 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f795c9', endColorstr='#de9a00',GradientType=1 );
        }  
      }
    
      .previewBtn{
        background: #00c4de;
        background: -moz-linear-gradient(-45deg,  #00c4de 1%, #018fe5 100%);
        background: -webkit-linear-gradient(-45deg,  #00c4de 1%,#018fe5 100%);
        background: linear-gradient(135deg,  #00c4de 1%,#018fe5 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c4de', endColorstr='#018fe5',GradientType=1 );          
        border-radius: 5px 20px 20px 5px;
        &:hover{
          background: #f7900c4de5c9;
          background: -moz-linear-gradient(-45deg,  #00c4de 1%, #de9a00 100%);
          background: -webkit-linear-gradient(-45deg,  #00c4de 1%,#de9a00 100%);
          background: linear-gradient(135deg,  #00c4de 1%,#de9a00 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c4de', endColorstr='#de9a00',GradientType=1 );
        }  
      }
    }
  }
}
