<div class="flex-1 webSiteContent h-100 pr-3">
  <nav class="navbar navbar-expand-lg navbar-light bg-light- topNav ">
    <a class="navbar-brand logoSec" href="#"><img src="../../assets/images/webgiftsLogoWhite.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
      <span class="navbar-text ml-auto">
        <div class="btn-group loginBtn">
          <button type="button" class="btn profileBtn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <img src="../../.../../assets/images/profilePic.png">
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <button class="dropdown-item" type="button">Profile</button>
            <button class="dropdown-item" type="button">Settings</button>
            <button class="dropdown-item" type="button">Logout</button>
          </div>
        </div>
      </span>
    </div>
  </nav>
  <div>
    <app-themes></app-themes>
  </div>
  <div class="contentBlock p-3 pr-5">
    <h1 class="pt-3 mb-4"><span>Happy to come</span>Web Gifts</h1>
    <p>It is a new invention of gifting ideas to present beautiful web presentation as gift, We host your selected theme
      with your data in web url as QR code on greeting card or else, so you can present as soft copy or as hard copy
      with QR code mechanism they can able to view and reply, like, comment.</p>
    <div class="searchItems mb-5"><input class="form-control" placeholder="Search"></div>
    <div class="allServices">
      <div class="services mostLikedSec d-flex">
        <div class="column">
          <div class="thumb px80-px80">
            Most Popular
          </div>
          <div class="thumb px80-px80">
            Most Liked
          </div>
          <div class="thumb popular px80-px160">
            <img src="../../assets/images/popular/anniversaries.jpg">
            <p><span>Popular</span>Birthdays</p>
          </div>
        </div>
        <div class="column ">
          <div class="thumb topOne px160-px160">
            <img src="../../assets/images/popular/anniversaries.jpg">
            <p><span>Most Popular</span>Anniversaries</p>
          </div>
        </div>
        <div class="column">
          <div class="thumb popular px80-px160">
            <img src="../../assets/images/popular/anniversaries.jpg">
            <p><span>Popular</span>Birthdays</p>
          </div>
          <div class="thumb px80-px80">
            Most Liked
          </div>
          <div class="thumb px80-px80">
            Most Liked
          </div>
        </div>
      </div>
      <div class="services">
        <h4 class="my-5 text-center pb-3">Web Presentations</h4>

        <div class="grid">
          <div class="grid-item gradiantBg1"></div>
          <div class="grid-item gradiantBg2"></div>
          <div class="grid-item gradiantBg3"></div>
          <div class="grid-item gradiantBg4"></div>
          <div class="grid-item gradiantBg5"></div>
          <div class="grid-item gradiantBg6"></div>
          <div class="grid-item gradiantBg7"></div>
          <div class="grid-item gradiantBg9"></div>

        </div>


      </div>
    </div>
  </div>

</div>
